.container-fluid{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
/* .bg{
    background-color: #3B9ED8;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-clip-path:  polygon(100% 0, 100% 100%, 0 100%, 71% 64%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 71% 64%);
} */
.bg1{
    background-color:  rgb(0, 105, 167);
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-clip-path:  polygon(70% 78%, 100% 0, 100% 100%, 32% 100%);
    clip-path: polygon(70% 78%, 100% 0, 100% 100%, 32% 100%);
}
.bg2{
    background-color:  rgb(0, 105, 167);
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-clip-path:  polygon(0 0, 41% 0, 13% 14%, 0% 100%);
    clip-path: polygon(0 0, 41% 0, 13% 14%, 0% 100%);

}
.soft_ui{
    padding: 1em;
    margin-top: 2%;
    height: 95%;
    width: 40%;
    border-radius: .5em;
    box-shadow: 
        -12px -12px 12px 0 rgb(240, 240, 240),
        12px 12px 12px 0 rgba(0,0,0,0.03);
}
a{
    color:white !important;
    text-decoration: none !important;
}
p{
    color: black;
}
 